@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}


/* svg{
	margin-top: 170px;
	height: 50vh;
	position: absolute;
	width:100%;
	object-fit: contain;
} */

.grad{
	height: 450px;
	background-image: linear-gradient(to right, #702cc8 , #3d56c8);
}
.Top{
	height: 60vh;
    background-image: linear-gradient(to right, #702cc8 , #3d56c8);
			
}
.Bottom{
	height: 40vh;
	background: white;
	overflow: scroll;
}
.Top .wave1{
position: relative;
top: 100%;
transform: translateY(-100%)
}

.layersvg2{
	position: relative;
   top:-10px;
   transform: translateY(-100%);
   opacity: .5;
	/* opacity: .5;
	margin-top: 150px;
	height: 50vh;
	position: absolute;
	width:100%;
} */
}
.userlist{
	margin-top: -600px;
	display: inline-block;
	background: #f6f6f6;
	position: absolute;
	height: 500px;
	width: 500px;
	left: 35%;
	right: 50%;
	border-radius: 20px;
  margin-bottom: 200px;
  box-shadow: 5px 10px 18px #888888;
}
/* .card{
	position: fixed;
	margin: auto;
	width: 10rem;
	height: 15rem;
	background: red;
	text-align: center;
	z-index: 10;
	top: 30%;
	left: 50%;
} */

.heading{
	padding: 40px;
	position: relative;
	text-align: center;
	font-size: 20px;
	color: #686868;
	font-weight: 900;

}
.listusers{
	color: #d2d2d2;
}
.list li{
	padding: 5px 50px 5px 30px;
	background: white;
	list-style: none;
	overflow: auto;

	
}
.list {
	height: 350px;
	overflow: auto; 
}
.flexing{
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid rgba(128, 128, 128, 0.432);
}
.names{
font-size: larger;
padding-top: 10px;
    font-weight: bold;
    color: gray;
} 

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
	background: #d2d2d2;
  border-radius: 10px;
}

.profilethumbnail{
	height: 30px;
	width: 30px;
	border-radius: 50%;
	padding: 7px;
}
hr{
	opacity: .3;
}
.gmap{
	height: 200px;
	width: 250px;
}

@media (max-width:480px) {
	/* .userlist{
		scale: .5;
	}
	svg{
		display: none;
	
	}
	.layersvg2{
		display: none;
	}

	.grad{
		height: 400px;
		width: 100%;
		background-image: linear-gradient(to right, #702cc8 , #3d56c8);
		box-sizing: border-box;
		

	} */
	.userlist{

		height: 500px;
		width: 240px;
		left: 20%;
		right: 40%;
		border-radius: 20px;
	  margin-bottom: 200px;
	  box-shadow: 5px 10px 18px #888888;
	}
	.grad .layersvg2{
		position:relative;
	}
}