.photo-grid {
  display: grid;
  gap: 1rem;

  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: 200px;
}

/* Medium screens */
@media screen and (min-width: 600px) {
  .card-tall {
    grid-row: span 3/auto;
    
  }

  .card-wide {
    grid-column:  span 4/auto;
  }
  .card-box{
  	grid-row: span 2/auto;
  }
  .card-box2{
  	grid-column: span 2/auto;
      text-align: center;
  }
}
.profile-menu{
    background-image: linear-gradient(to bottom, #3d56c8,#702cc8 );
    padding: 250px 35px 220px 40px;
    height: 200px;
    width: 170px;
    margin : 40px 20px 50px 45px;
    color: white;
    font-weight: bold;
    font-size: large;
    border-radius: 30px;
}
.profile-menu ul{
    /* opacity : 0.5 ; */
    list-style:none;
}
.profile-menu >ul > li{
    padding:20px 30px 10px 20px ;

}
.profile-menu >ul > hr{
opacity: .5;
}
hr{
    opacity: .5;
}
.profile-menu-items{
    opacity: .5;
}
.profile-menu-items:hover{
    opacity: 1;

}
.profile-menu >ul > li:hover{
    opacity: 1;
}

#p{
    font-size: larger;
    font-weight: bold;
    opacity: .8;
    padding: 50px 30px 5px 60px;
    left:0;
}
.namesprofile{
font-size: larger;
padding-top: 10px;
    /* font-weight: bold; */
    color: gray;
}
#profile-flexing{
    position: absolute;
    right: 0;
    top: 40px;
    display: flex;
    flex-direction: row;
    padding-right: 40px;
    
}
#topline{
    padding: 20px 50px 5px 50px;
    top: 60px;
}
.card-box2 img{
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: -80px 50px 10px -50px;
}
.info{
    font-size: larger;
    font-weight: bold;
    padding: 10px 5px 10px 0;
    margin-left: -50px;
    color: gray;
}
.content{
    opacity: .9;
    color: black;
}
